@import "tailwindcss";

@theme {
  --font-kumbhsans: "Kumbh Sans", sans-serif;
  --color-Orange: hsl(26, 100%, 55%);
  --color-Paleorange: hsl(25, 100%, 94%);
  --color-Verydarkblue: hsl(220, 13%, 13%);
  --color-Darkgrayishblue: hsl(219, 9%, 45%);
  --color-Grayishblue: hsl(220, 14%, 75%);
  --color-Lightgrayishblue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
}
.overlay-thumbnail {
  background: hsl(0, 0%, 0%);
  opacity: 0.5;
  border: 4px solid hsl(26, 100%, 55%);
}
.thumbnail {
  cursor: pointer;
}
.overlay {
  background: hsl(0, 0%, 0%);
  opacity: 0.75;
  width: 100%;
  height: 50rem;
  position: absolute;
  top: 0;
}
.mobile-nav {
  transform: translateX(-20rem);
  transition: all ease-in-out 1s;
  z-index: 1;
}
.open-nav {
  transform: translateX(0rem);
  transition: all ease-in-out 1s;
}
.opencart {
  display: block;
}
button {
  cursor: pointer;
}
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 1rem 1.2rem;
}
.slide,
.main-slide,
.slide-desktop {
  display: none;
}

.active {
  display: block;
}
